

/* Start Landing Page */
html, body {
    position: relative;
    background-color: rgb(219, 212, 187);
    height:100%; 
}

.landing-page .logo {
    margin-top: 50px;
    max-height: 250px;
}

.landing-page .info {
    max-width: 90%;
    margin-top: 60px;
    float: right;
}

.landing-page .info h1 {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 63px;
    margin: 0 0 50px;
    line-height: 1.1;
    font-weight: 700;
    color: rgb(0, 115, 132);
    text-align: left;
}

.landing-page .info .notify {
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
}

.landing-page .info h5 {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 20px 15px 20px 15px;
    color: rgb(0, 115, 132);
    text-align: center;
}

.landing-page .info p {
    font-family: 'Roboto', Arial, sans-serif;
    margin-bottom: 30px;
    line-height: 1.1;
    font-size: 40px;
    color: rgb(0, 115, 132);
    text-align: left;
}

.landing-page .info .form-control {
    border-radius: 0px;
    width: 100%;
    height: 60px;
}

.landing-page .info .subscribe {
    border: 0;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    color: #FFF;
    background-color: rgb(0, 115, 132);
}

.landing-page .truck {
    display: none;
}

.landing-page .phone_pic {
    margin-top: -170px;
    padding-left: 50px;
}

.clearfix {
    clear: both;
}

.centerBlock {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

::-webkit-input-placeholder { /* Edge */
  color: rgb(0, 115, 132);
  text-align: center;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgb(0, 115, 132);
    text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgb(0, 115, 132);
  text-align: center;
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgb(0, 115, 132);
  text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
  color: rgb(0, 115, 132);
  text-align: center;
}

/* Ipads/smaller screened devices */
@media screen and (max-width: 1700px) {  
    .landing-page .logo {
        max-height: 220px;
    }

    .landing-page .info h1 {
        font-size: 50px;
    }

    .landing-page .info p {
        font-size: 25px;
    }

    .landing-page .phone_pic {
        margin-top: -140px
    }
}

/* Mobile devices */
@media screen and (max-width: 767px) {  
    .landing-page .logo {
        max-height: 150px;
    }

    .landing-page .info {
        max-width: 100%;
        margin-top: 20px;
        float: none;
    }

    .landing-page .info h1 {
        font-size: 32px;
        margin: 0 0 20px;
        text-align: center;
    }

    .landing-page .info p {
        margin-bottom: 20px;
        font-size: 20px;
        text-align: center;
    }

    .landing-page .truck {
        margin-bottom: 20px;
        display: block !important;
        margin-left: auto;
        margin-right: auto;
    }

    .landing-page .phone_pic {
        display: none;
    }

    .landing-page .info .form-control {
        height: 40px;
    }
}